.spotlight {
  background: url("/assets/images/cover.jpg") center;
  background-size: cover;
  color: #f0f0f0;
  border-radius: 0px 0px 5px 5px;
  padding: 80px 20px;
}

.spotlight h1 {
  font-size: 2em;
  text-shadow: #595452 1px 1px;
}
